h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: monospace, sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}
p1 {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}